<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.liquibasedemo.mapper.UserMapper">
    <insert id="insert" parameterType="com.example.liquibasedemo.po.User">
        insert into t_users(id, username, password, email, age, salary, created_at, last_updated_at)
        values (#{id}, #{username}, #{password}, #{email}, #{age}, #{salary}, #{createdAt}, #{lastUpdatedAt});
    </insert>
</mapper>